* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: #eee;
  --contrast: #222;
  --offset: #aaa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  width: 98vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.game-canvas {
  width: 100%;
  height: 100%;
  display: flex;
}

.board {
  position: relative;
  width: 0;
  height: 0;
}

.tile {
  position: absolute;
  color: white;
}

.relative-parent {
  position: relative;
  width: 100%;
  height: 100%;
}

.hex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 200ms ease;
}

.hex-left {
  height: 100%;
  width: 0;
  border-right: calc(var(--hex-size) / 2) solid var(--hex-colour);
  border-top: calc(var(--hex-h) / 2) solid transparent;
  border-bottom: calc(var(--hex-h) / 2) solid transparent;
  transition: inherit;
}

.hex-mid {
  height: 100%;
  width: var(--hex-size);
  background-color: var(--hex-colour);
  transition: inherit;
}

.hex-right {
  height: 100%;
  width: 0;
  border-left: calc(var(--hex-size) / 2) solid var(--hex-colour);
  border-top: calc(var(--hex-h) / 2) solid transparent;
  border-bottom: calc(var(--hex-h) / 2) solid transparent;
  transition: inherit;
}

.piece-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  font-size: calc(var(--hex-size) * 3 / 4);
}

.piece-wrapper {
  width: 60%;
  aspect-ratio: 1 / 1;
  border-radius: 1000px;
  border: 3px solid var(--piece-contrast);
  background-color: var(--piece-color);
  color: var(--piece-contrast);
  cursor: pointer;
  transition: all 200ms ease;
}
